# =========================
# POSTGRES CONFIG
# =========================
DOCKER_POSTGRES_USER=your_postgres_user_here
DOCKER_POSTGRES_PASSWORD=your_postgres_password_here
DOCKER_POSTGRES_DB=defaultdb
DOCKER_POSTGRES_PORT=5434

# =========================
# REDIS CONFIG
# =========================
DOCKER_REDIS_PORT=6379

# =========================
# RABBITMQ CONFIG
# =========================
DOCKER_RABBITMQ_USER=your_rabbitmq_user_here
DOCKER_RABBITMQ_PASSWORD=your_rabbitmq_password_here
DOCKER_RABBITMQ_PORT=5672
DOCKER_RABBITMQ_UI_PORT=15672